body {
    background-color: rgb(236, 188, 56);
}

.burgerImage {
    display: flex;
    justify-content: center;
}

.pageTitle {
    display: flex;
    justify-content: center;
    color: rgb(221, 89, 1);
    font-size: 30px;
}

.burgerForm {
    display: flex;
    justify-content: center;
}

.burgerButton {
    display: flex;
    justify-content: center;
}

/*Changed*/
#devourButton {
    position: relative;
}

li {
    display: flex;
    margin-bottom: 10px;
}

.burgerName {
    width: 300px;
    height: 150px;
}

.burgerText {
    background-color: rgb(226, 226, 226);
    width: 300px;
    margin-right: 40px;
}